<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @workshop } %>
<%= form_for @workshop, :html => {:class => "form-horizontal"} do |f| %>
  <div class="span4">
    <p>
      <%= f.label t('.name') %>
      <%= f.text_field :name, :class => "input-small" %>
    </p>
    <p>
      <%= f.label t('.address') %>
      <%= f.text_field :address %>
    </p>
    <p>
      <%= f.label t('.province') %>
      <%= f.collection_select(:province, Spree::State.where(:country_id => 188), :id, :name, { :include_blank => true }, { 'style' => 'width:160px' }) %>
    </p>
    <p>
      <%= f.label t('.town') %>
      <div id="workshopTowns">
        <%= render :partial => 'towns' %>
      </div>
    </p>
    <p>
      <%= f.label t('.notes') %><br/>
      <%= f.text_area :notes, :size => "5x3" %>
    </p>
  </div>
  <div class="span4">
    <p>
      <%= f.label t('.phone') %>
      <%= f.telephone_field :phone %>
    </p>
    <p>
      <%= f.label t('.fax') %><br/>
      <%= f.telephone_field :fax %>
    </p>
    <p>
      <%= f.label t('.email') %><br/>
      <%= f.email_field :email %>
    </p>

    <p>
      <%= f.label t('.price_for_car') %>
      <%= f.number_field :price_for_car %>
    </p>
    <p>
      <%= f.label t('.price_for_moto') %>
      <%= f.number_field :price_for_moto %>
    </p>
  </div>
  <p>
    <%= f.submit t('.submit'), :alt => t('.submit'), :id => 'workshop_submit', :title => t('.submit') %>
  </p>
<% end %>
