<tr>
  <td width="170px"><%= list_workshops.name %></td>
  <td width="170px"><%= list_workshops.address %></td>
  <td width="170px"><%= list_workshops.town.name %>(<%= list_workshops.town.state.name %>)</td>
  <td width="170px"><%= number_to_currency(list_workshops.price_for_car) %></td>
  <td width="170px"><%= number_to_currency(list_workshops.price_for_moto) %></td>
</tr>
