<tr>
  <td width="170px"><%= list_workshop.name %></td>
  <td width="170px"><%= list_workshop.address %></td>
  <td width="170px"><%= list_workshop.town.name %>(<%= list_workshop.town.state.name %>)</td>
  <td width="170px"><%= number_to_currency(list_workshop.price_for_car) %></td>
  <td width="170px"><%= number_to_currency(list_workshop.price_for_moto) %></td>
</tr>
