<% unless @message.nil? -%>
  <% if @message.blank? -%>
    <table>
      <tr>
        <th><%= t('spree.workshops.form.name') %></th>
        <th><%= t('spree.workshops.form.address') %></th>
        <th><%= t('spree.workshops.form.town') %></th>
        <th><%= t('spree.workshops.form.price_for_car') %></th>
        <th><%= t('spree.workshops.form.price_for_moto') %></th>
      </tr>

      <% list_workshops.each do |workshop| %>
        <tr>
          <td width="70px"><%= workshop.name %></td>
          <td width="70px"><%= workshop.address %></td>
          <td width="70px"><%= workshop.town.name %>(<%= workshop.town.state.name %>)</td>
          <td width="70px"><%= number_to_currency(workshop.price_for_car) %></td>
          <td width="70px"><%= number_to_currency(workshop.price_for_moto) %></td>
        </tr>
      <% end %>
    </table>
  <% else -%>
    <h5><%= @message %></h5>
  <% end -%>
<% end -%>
