<% list_workshops.each do |workshop| %>
  <tr>
    <td width="170px"><%= workshop.name %></td>
    <td width="170px"><%= workshop.address %></td>
    <td width="170px"><%= workshop.town.name %>(<%= workshop.town.state.name %>)</td>
    <td width="170px"><%= number_to_currency(workshop.price_for_car) %></td>
    <td width="170px"><%= number_to_currency(workshop.price_for_moto) %></td>
  </tr>
<% end %>
