<h1>Buscando Taller</h1>
<br />
<%= form_tag search_workshops_path, :method => 'get', :remote => true do %>
  <%= select_tag "Provincia", options_from_collection_for_select(@states, "id", "name") %>
  <%= submit_tag "Buscar" %>
<% end -%>

<br /><br /><br />
  <% unless @workshops.empty? -%>
    <table>
      <tr>
        <th><%= t('spree.workshops.form.name') %></th>
        <th><%= t('spree.workshops.form.address') %></th>
        <th><%= t('spree.workshops.form.town') %></th>
        <th><%= t('spree.workshops.form.price_for_car') %></th>
        <th><%= t('spree.workshops.form.price_for_moto') %></th>
      </tr>
      <tbody id="list">
        <%= render :partial => @workshops %>
      </tbody>
    </table>
    <div id="paginator" class="pagination">
      <%= paginate @workshops, :remote => true %>
    </div>
  <% end -%>
