<%= render :partial => 'spree/admin/shared/tires_setting_menu' %>

<h1><%= t(:workshops) %></h1>

<table class="index" id="workshops_listing">
  <thead data-hook="admin_workshops_index_headers">
    <th><%= t('spree.workshops.form.name') %></th>
    <th><%= t('spree.workshops.form.address') %></th>
    <th><%= t('spree.workshops.form.town') %></th>
    <th><%= t('spree.workshops.form.price_for_car') %></th>
    <th><%= t('spree.workshops.form.price_for_moto') %></th>
    <th data-hook="admin_workshops_index_header_actions">
    </th>
  </thead>
  <tbody>
    <% @workshops.each do |workshop|%>
      <tr id="<%= spree_dom_id workshop %>" data-hook="admin_workshops_index_rows">
        <td width="50px"><%= workshop.name %></td>
        <td width="60px"><%= workshop.address %></td>
        <td width="40px"><%= workshop.town.name %>(<%= workshop.town.state.name %>)</td>
        <td width="40px"><%= number_to_currency(workshop.price_for_car) %></td>
        <td width="40px"><%= number_to_currency(workshop.price_for_moto) %></td>
        <td width="40px" data-hook="admin_workshops_index_row_actions">
          <%= link_to_delete workshop %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @workshops %>
